/**
 *  Copyright (c) 2009-2011 Misys Open Source Solutions (MOSS) and others
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
 *  implied. See the License for the specific language governing
 *  permissions and limitations under the License.
 *
 *  Contributors:
 *    Misys Open Source Solutions - initial API and implementation
 *    -
 */

/* Default DOM Tooltip Style */
div.domTT {
    border: 1px solid #333333;
    background-color: #333333;
}

div.domTT .caption {
    font-family: Verdana, Helvetica;
    font-size: 12px;
    font-weight: bold;
    padding: 1px 2px;
    color: #FFFFFF;
    text-align: center;
}

div.domTT .contents {
    font-size: 10px;
    font-family: sans-serif;
    padding: 3px 2px;
    background-color: #F1F1FF;
}

/* Connect Style */
/*div.domConnect {
	padding: 0px;
	background-color: #333366;
}*/
div.domConnect .caption {
    font-family: Verdana, Helvetica;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 30px;
}

div.domConnect .contents {
    padding: 0px;
    background-color: #F1F1FF;
}

div.domConnect {
    font-size: 10px;
    border-width: 1px 1px 1px 1px;
    border-style: none none none none;
    border-spacing: 0px;
    cellspacing: 0px;
    border-collapse: collapse;
    background-color: #F1F1FF;
    font-family: sans-serif;
}

div.domConnect td {
    border-style: solid solid solid solid;
    border-color: black;
    border-collapse: collapse;
    vertical-align: top;
    padding-bottom: 0px;
    padding-left: 3px;
    font-size: 10px;
}

/* ConnectPop Style */
/*div.domConnect {
	padding: 0px;
	background-color: #333366;
}*/
div.domConnectPop .caption {
    font-family: Verdana, Helvetica;
    font-size: 10px;
    font-weight: bold;
    color: #000000;
    background-color: #000000;
}

div.domConnectPop .contents {
    padding: 0px;
    background-color: #F1F1FF;
}

div.domConnectPop {
    font-size: 12px;
    border-width: 1px 1px 1px 1px;
    border-style: none none none none;
    border-spacing: 0px;
    cellspacing: 0px;
    border-collapse: collapse;
    background-color: #F1F1FF;
    font-family: Verdana, Helvetica;
}

div.domConnectPop td {
    border-style: solid solid solid solid;
    border-color: black;
    border-collapse: collapse;
    vertical-align: top;
    padding-bottom: 0px;
    padding-left: 3px;
    font-size: 10px;
}

/* Classic Style */
div.domTTClassic {
    border: 1px solid black;
    background-color: #808080;
}

div.domTTClassic .caption {
    font-family: serif;
    font-size: 13px;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    padding: 1px 2px;
}

div.domTTClassic .contents {
    color: InfoText;
    font-size: 13px;
    _font-size: 12px;
    font-family: Arial, sans-serif;
    padding: 1px 2px;
    _padding-bottom: 0;
    white-space: nowrap;
}

div.domTTClassic {
    font-size: 12px;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    border-spacing: 0px;
    cellspacing: 0px;
    border-collapse: collapse;
    border-color: black;
    background-color: infobackground;
    font-family: Verdana, Helvetica;
}

div.domTTClassic td {
    border-style: solid solid solid solid;
    border-color: black;
    border-collapse: collapse;
    vertical-align: top;
    padding-bottom: 0px;
    padding-left: 3px;
}

/* Win9x Style */
div.domTTWin {
    border: 1px outset #013741;
    background-color: white
}

div.domTTWin .caption {
    border: 0px solid #BFBFBF;
    /* border-width: 1px 1px 0px 1px; */
    background-color: #013741;
    padding: 2px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
}

div.domTTWin .contents {
    border: 1px solid #BFBFBF;
}

/* Overlib Style */
div.domTTOverlib {
    border: 1px solid #333366;
    background-color: #333366;
}

div.domTTOverlib .caption {
    font-family: Verdana, Helvetica;
    font-size: 10px;
    font-weight: bold;
    color: #FFFFFF;
}

div.domTTOverlib .contents {
    font-family: Verdana, Helvetica;
    padding: 2px;
    background-color: #F1F1FF;
}

/* Nicetitle Style */
div.niceTitle {
    background-color: #333333;
    color: #FFFFFF;
    font-weight: bold;
    font-family: "Trebuchet MS", sans-serif;
    width: 250px;
    left: 0;
    top: 0;
    padding: 4px;
    position: absolute;
    text-align: left;
    z-index: 20;
    -moz-border-radius: 0 10px 10px 10px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 87);
    -moz-opacity: .87;
    -khtml-opacity: .87;
    opacity: .87;
}

div.niceTitle .contents {
    margin: 0;
    padding: 0 3px;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

div.niceTitle p {
    color: #D17E62;
    font-size: 9px;
    padding: 3px 0 0 0;
    margin: 0;
    text-align: left;
    -moz-opacity: 1;
}

/* Context Menu Style */
div.domTTMenu {
    width: 150px;
    border: 2px outset #E6E6E6;
}

div.domTTMenu .caption {
    font-size: 12px;
    font-family: sans-serif;
    background-color: #E6E6E6;
}

div.domTTMenu .contents {
    padding: 1px 0;
    background-color: #E6E6E6;
}

/* attachment Style */
div.domattachments {
    border: 1px solid black;
    background-color: #013741;
}

div.domattachments .caption {
    background: #E0DFE3;
    color: black;
    font-family: verdana;
    font-size: 10px;
    _font-size: 10px;
    font-weight: bold;
    padding: 1px 2px;
}

div.domattachments .contents {
    color: InfoText;
}

div.domattachments {
    font-size: 12px;
    border-width: 1px 1px 1px 1px;
    border-style: solid solid solid solid;
    border-spacing: 0px;
    cellspacing: 0px;
    border-collapse: collapse;
    border-color: black;
    background-color: #F1F1FF;
    font-family: Verdana, Helvetica;
}

div.domattachments td {
    border-style: none none none none;
    border-color: black;
    border-collapse: collapse;
    vertical-align: top;
    padding-bottom: 0px;
    padding-left: 3px;
}
