/**
 *  Copyright (c) 2009-2011 Misys Open Source Solutions (MOSS) and others
 *
 *  Licensed under the Apache License, Version 2.0 (the "License");
 *  you may not use this file except in compliance with the License.
 *  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 *  Unless required by applicable law or agreed to in writing, software
 *  distributed under the License is distributed on an "AS IS" BASIS,
 *  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or
 *  implied. See the License for the specific language governing
 *  permissions and limitations under the License.
 *
 *  Contributors:
 *    Misys Open Source Solutions - initial API and implementation
 *    -
 */

.jmesa {
    margin: 0;
    padding: 0;
}

.jmesa caption {
    caption-side: top;
    color: #444444;
    font-weight: bold;
    font-size: 1em;
    text-align: left;
    padding-left: 5px;
}

.jmesa .table {
    position: fixed;
    border: 0px solid silver;
    padding: 2px;
    background-color: #dcdcd6;
    table-layout: fixed;
    width: 100%;
}

.jmesa .tbody {
    background-color: #dcdcd6;
    height: 100%;
    width: 100%;
}

.toolbar table {
    margin-right: auto;
    margin-left: 0px;
    background-color: #dcdcd6;
}

.jmesa .toolbar td {
    padding: 1px 1px 0px 10px;
}

.jmesa .toolbar select {
    font-size: 11px;
    border: solid 1px #c4c3c2;
}

.jmesa .toolbar .pageNumber {
    font-size: 13px;
    font-weight: bold;
    color: #c4634d;
}

.jmesa .toolbar .pageNumber a {
    font-size: 13px;
    font-weight: normal;
    color: black;
}

.jmesa .toolbar img {
    border: 0px;
}

.jmesa .filter td {
    padding: 2px 2px 3px 2px;
}

.jmesa .tbody input {
    padding: 0;
    margin: 0;
}

.jmesa .filter .dynFilter {
    position: relative;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    padding: 0;
    margin: 0;
    border: 0px solid #c0c0c0;
    background-color: #efebe7;
    height: 15px;
    white-space: nowrap;
    cursor: pointer;
    display: none;
}

.jmesa .filter #dynFilterDiv {
    position: absolute;
    top: -2px;
    left: -2px;
    padding: 0;
    margin: 0;
    height: 17px;
    border: 0px solid #c0c0c0;
    background-color: #e1ebf4;
    display: none;
}

.jmesa .filter #dynFilterInput {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
    border-style: none;
    background-color: #e1ebf4;
    display: none;
}

.jmesa .filter #dynFilterDroplistDiv {
    position: absolute;
    top: -2px;
    left: -2px;
    padding: 0;
    margin: 0;
    height: 17px;
    background-color: #e1ebf4;
    z-index: 2;
    display: none;
}

.jmesa .filter #dynFilterDroplist {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
    border: 0px solid #c0c0c0;
    background-color: #e1ebf4;
    display: none;
}

.jmesa .header td {
    white-space: nowrap;
    background-color: #406679;
    color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 4px 3px 4px 3px;
    border-right-style: solid;
    border-right-width: 1px;
    border-color: white;
    width: auto;
}

.jmesa .odd a, .jmesa .even a {
    color: black;
}

.jmesa .odd td, .jmesa .even td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 2px 3px 2px 3px;
    border: 1px solid #b3b3a3;
}

.jmesa .odd td {
    border: 1px solid #b3b3a3;
}

.jmesa .even td {
    border: 1px solid #b3b3a3;
}

.jmesa .odd {
    background-color: #ffffff;
}

.jmesa .even {
    background-color: #ffffff;
}

.jmesa .highlight td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 3px 4px 3px 4px;
    background-color: #dcdcd6;

}

.jmesa .highlight a {
    color: black;
}

.jmesa .statusBar td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 10px;
    border-top: 1px solid silver;
    background-color: #dcdcd6;
    padding: 2px;
}

.jmesa .dropShadow {
    padding: 10px 14px 14px 10px;
}

.jmesa .wsColumn {
    position: relative;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #c0c0c0;
    height: 15px;
    white-space: nowrap;
    cursor: pointer;
}

.jmesa .wsColumnError {
    position: relative;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
    padding: 0;
    margin: 0;
    color: #ec4646;
    border-bottom: 1px dashed #ec4646;
    height: 15px;
    white-space: nowrap;
    cursor: pointer;
}

.jmesa .wsColumnChange {
    position: relative;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 11px;
    font-style: italic;
    padding: 0;
    margin: 0;
    color: #005e8f;
    border-bottom: 1px dashed #005e8f;
    height: 15px;
    white-space: nowrap;
    cursor: pointer;
}

.jmesa #wsColumnDiv {
    position: absolute;
    top: -2px;
    left: -2px;
    padding: 0;
    margin: 0;
    height: 17px;
    border: 1px solid #c0c0c0;
    background-color: #dcdcd6;
}

.jmesa #wsColumnInput {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 12px;
    padding: 0;
    margin: 0;
    border-style: none;
    background-color: #dcdcd6;
}

.jmesa .overflow {
    text-overflow: ellipsis; /* IE only */
    overflow: hidden;
    white-space: nowrap;
}

DIV.tabletag {
    background-color: #dcdcd6;
}
